name: test_myself

on:
  push:
    branches:
      - mainljs

jobs:
  build_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and run containers
        run: docker compose up -d
